/* BASIC STYLES HERE */
body {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/153/562/333/pokemon-crystal-cgi-3d-colorful-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}